body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
color: rgb(140, 255, 140);
}

table, th, td {
  
  background-color: rgba(0, 0, 0, 0.171);
}

td {
  font-size: 20px;
}

.imagen{
  background-color: rgb(140, 255, 140);
}
