body,
html {
  height: 100%;
}

.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pexels-sora-shimazaki-5669646.jpg");


  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



form {
  background-color: rgba(255, 255, 255, 0.856);
  margin: 0px 400px;
  padding: 50px;
  border-radius: 20px;
  
}

form label {
  color:rgb(83, 83, 83);
}



input,
select,
textarea {
  display: block;
  color: white;
  width: 100%;

  padding: 12px;

  border: 1px solid #ccc;

  border-radius: 4px;

  box-sizing: border-box;

  margin-top: 6px;

  margin-bottom: 2px;

  resize: horizontal
}

input {
  color: black;
}

.labelseguros {
  color: black;
}


input[type=submit] {
  background-color: dodgerblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #ffffff;
  color: dodgerblue;
}

/* Estilos para mostrar en pantalla precio del seguro */
.preciototal {
  color: green;
  margin-bottom: 20px;
  margin-top: 20px;
}

.validacion {
  color: dodgerblue;
  margin-bottom: 20px;
  margin-top: 20px;
}

.error {
  color: rgb(255, 45, 45);
  padding-bottom: 40px;
}